.externalToolBuilders
.tomcatplugin
.idea
target
logs
*.iml
.project
.classpath
.settings
copy
pic
ROOT.war
WebContent
*/target
*/.settings
*/.classpath
*/.project
*/*.iml
*/*.ipr
*/*.iws
*/build
*/logs
src/main/webapp/WEB-INF/classes
*/src/main/resources/META-INF/
*/src/main/webapp/META-INF/
*/src/main/webapp/WEB-INF/conf/generatorConfig.xml